*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(25, 55, 185, 0.863);
}
.head_part{
    background-color: rgba(43, 58, 126, 0.863);
}

.max_container{
    width: 90%;
    height: 100%;
    margin: auto;
}
.card_container {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.disc_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-basis: 200px;
    margin: 10px 10px;
    height: 300px;
    text-align: center;
   
}
.disc_container img {
    width:200px;
    height: 250px;
    object-fit: cover;
}



 span.author_cd {
    color: rgba(150, 201, 102, 0.808);
    font-size: 20px;
}

 span.year_cd {
    color: grey;
}